#header{
    background-color: #3e8897;
    padding: 1em;
}
#columns{
    height: 100%;
    display: flex;
}
#left-column {
    width: 16%;
    background: #59c3d8;
    line-height: 200%;
}
#right-column {
    word-wrap: break-word;
    width: 84%;
    background: #3e8897;
}
#statshere {
    white-space: pre-line
}

.listing{
    margin: 1%;
}
.listing:hover{
    background: #3e8897;
}

table.selectionPane{
    border: 1px solid #000;
    background: #59c3d8;
}
table.selectionPane td{
    border: 1px solid #000;
    line-height: 200%;
}
table.selectionPane td:hover{
    background: #3e8897;
}

.statsTable td{
    border: 1px solid #000;
    border-spacing: 10%;
}

body { 
    padding: 0;
    margin: 0;
}